/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
	-fx-background-color: #FFFFFF;
}

.container {
	-fx-border-color: grey;
	-fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}

.logo {

}