.attachment {
	-fx-background-color: #f25333;
	-fx-base : #f25333; 
	-fx-padding: 5px;
	-fx-margin: 5px;
}

.button {
    -fx-font-weight: bold;
}

.text-white {
	-fx-text-fill: white;
}

.toolbar-buttons {
	-fx-width: 24px;
	-fx-height: 24px;
}

.table-view .column-header .label {
    -fx-text-fill:  white;
    -fx-font-size: 12px;
	-fx-border-width: 0, 0;
	-fx-padding-top: 5px;
	-fx-padding-bot: 5px;
	-fx-margintop: 5px;
	-fx-padding-bot: 5px;
}

.table-view .column-header {
	
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #f25333;
}

.list-view .list-cell:even {
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-text-fill: black;
}

.title {
  -fx-text-fill:  black;
  -fx-font-size: 24px;
}

    